/**
 * Colors Palette::content(rgb)
 * Black                    -> rgb(0, 0, 0)
 * Blue Violet Color Wheel  -> rgb(70, 24, 115)
 * Purple                   -> rgb(105, 16, 168)
 * Purple X 11              -> rgb(159, 33, 227)
 * Medium Orchid            -> rgb(203, 93, 241)
 * Mauve                    -> rgb(234, 191, 250)
 * Bright Lilac             -> rgb(220, 147, 246)
 * Pale Purple Pantone      -> rgb(247, 235, 253)
 * White                    -> rgb(255, 255, 255)
 */

html {
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0px 30px 0px 30px;
}